extends layout

block content
    br
    h2 Newest 10 News From New York Times
    br
    each news in newses
        .card
            .card-header
                p Headline:
                h4  #{news.headline.main}
            .card-body
                p.card-text Snippet: #{news.snippet}
                p.card-text Source: #{news.source}
                p.card-text Publish_date: #{news.pub_date}
            .card-footer
                a.card-link.btn.btn-success(href=news.web_url) See Detail
        br




